version: '3.8'

services:
  nextcloud:
    image: nextcloud:stable@sha256:dcf9c6019d05df721bb7bada99748964c95446ea479771e9073ceaded733407e
    hostname: nextcloud
    container_name: nextcloud__nextcloud
    restart: unless-stopped

    environment:
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: nextcloud
      MYSQL_HOST: mariadb
      OVERWRITEPROTOCOL: "https"

    volumes:
      - type: volume
        source: nextcloud_data
        target: /var/www/html

    deploy:
      resources:
        limits:
          memory: 1024m

    networks:
      default:
      outband:

  mariadb:
    image: mariadb:12.2.2@sha256:b1cb255a9939d28a1856815f0de6046c20c28c21b92a9f2696bc782b247a47ee
    hostname: mariadb
    container_name: nextcloud__mariadb
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: nextcloud
      MYSQL_DATABASE: nextcloud

    volumes:
      - type: volume
        source: mariadb_data
        target: /var/lib/mysql

    deploy:
      resources:
        limits:
          memory: 512m

    networks:
      default:

  nginx:
    image: nginx:1.29.5@sha256:0d1b1f0656a7cb1e2e8135bb1ea99d889ee5d3345fc20388da3f555ad77cf2dc
    hostname: nginx
    container_name: nextcloud__nginx
    restart: unless-stopped

    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true

    networks:
      default:

  cloudflared:
    image: cloudflare/cloudflared:2026.2.0-amd64@sha256:d4d2bf56c792ab207fa557c2431c250bfc8e4114d7e28c98eda1896bf65f10f6
    hostname: cloudflared
    container_name: nextcloud__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:
      outband:
      prometheus__cloudflared:
        aliases:
          - nextcloud__cloudflared

networks:
  prometheus__cloudflared:
    name: prometheus__cloudflared
    external: true

  default:
    name: nextcloud__default
    internal: true

  outband:
    name: nextcloud__outband

volumes:
  nextcloud_data:
    name: nextcloud__nextcloud_data

  mariadb_data:
    name: nextcloud__mariadb_data
