version: '3.8'

services:
  nextcloud:
    image: nextcloud:stable@sha256:28cfb2c0f8d0d87bfe4d088c5e9203b6a2a312ae341de12ee0648df7ba437d59
    hostname: nextcloud
    container_name: nextcloud__nextcloud
    restart: unless-stopped

    environment:
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: nextcloud
      MYSQL_HOST: mariadb
      OVERWRITEPROTOCOL: "https"

    volumes:
      - type: volume
        source: nextcloud_data
        target: /var/www/html

    deploy:
      resources:
        limits:
          memory: 1024m

    networks:
      default:
      outband:

  mariadb:
    image: mariadb:12.0.2@sha256:607835cd628b78e2876f6a586d0ec37b296c47683b31ef750002d3d17d3d8f7a
    hostname: mariadb
    container_name: nextcloud__mariadb
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: nextcloud
      MYSQL_DATABASE: nextcloud

    volumes:
      - type: volume
        source: mariadb_data
        target: /var/lib/mysql

    deploy:
      resources:
        limits:
          memory: 512m

    networks:
      default:

  nginx:
    image: nginx:1.29.3@sha256:b5b9e01613537b740e597a1aca6b8670a48f2f46493be50775567b09a61465a5
    hostname: nginx
    container_name: nextcloud__nginx
    restart: unless-stopped

    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true

    networks:
      default:

  cloudflared:
    image: cloudflare/cloudflared:2025.11.1-amd64@sha256:f751174c3d8ae54b12575af320a4aa01bb3b6e61ab82aa1e4f8ecac8a079ce61
    hostname: cloudflared
    container_name: nextcloud__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:
      outband:
      prometheus__cloudflared:
        aliases:
          - nextcloud__cloudflared

networks:
  prometheus__cloudflared:
    name: prometheus__cloudflared
    external: true

  default:
    name: nextcloud__default
    internal: true

  outband:
    name: nextcloud__outband

volumes:
  nextcloud_data:
    name: nextcloud__nextcloud_data

  mariadb_data:
    name: nextcloud__mariadb_data
